Repository code4romania/vic, pull requests merged in 2023-04, with the labels that each got.

#120 feat: [TEO-583] implement APIs for Dashboard
  backend/package-lock.json
  backend/package.json
  backend/src/api/api.module.ts
  backend/src/api/dashboard/dashboard.controller.ts
  backend/src/api/dashboard/dto/get-volunteer-status-timeseries.dto.ts
  backend/src/api/dashboard/dto/get-volunteers-grouped.dto.ts
  backend/src/api/dashboard/presenters/volunteer-hours.presenter.ts
  backend/src/api/dashboard/presenters/volunteer-status-timeseries.presenter.ts
  backend/src/api/dashboard/presenters/volunteer-status.presenter.ts
  backend/src/api/dashboard/presenters/volunteers-grouped.presenter.ts
  backend/src/infrastructure/config/typeorm-config.service.ts
  backend/src/migrations/1680511587196-DashboardVolunteerStatusView.ts
  backend/src/modules/dashboard/dashboard.module.ts
  backend/src/modules/dashboard/entities/dashboard-volunteer-status-view.entity.ts
  backend/src/modules/dashboard/enums/dashboard-filter-interval.enum.ts
  backend/src/modules/dashboard/enums/dashboard-filtering-groups.enum.ts
  backend/src/modules/dashboard/interfaces/dashboard-volunteer-status-repository.interface.ts
  backend/src/modules/dashboard/model/dashboard.model.ts
  backend/src/modules/dashboard/repositories/dashboard-volunteer-status.repository.ts
  backend/src/modules/dashboard/services/dashboard.facade.ts
  backend/src/modules/volunteer/entities/history/volunteer-history.entity.ts
  backend/src/modules/volunteer/entities/history/volunteer-history.subscriber.ts
  backend/src/modules/volunteer/entities/volunteer.entity.ts
  backend/src/modules/volunteer/repositories/volunteer.repository.ts
  backend/src/modules/volunteer/volunteer.module.ts
  backend/src/usecases/dashboard/get-dashboard-volunteer-status-timeseries.usecase.ts
  backend/src/usecases/dashboard/get-dashboard-volunteers-grouped.usecase.ts
  backend/src/usecases/dashboard/get-dashboard-volunteers-hours.usecase.ts
  backend/src/usecases/dashboard/get-dashboard-volunteers-status.usecase.ts
  backend/src/usecases/use-case.module.ts
Labels: back-end, enhancement :rocket:

#126 feat: [TEO-553] download logged hours by volunteers
  backend/src/api/activity-log/activity-log.controller.ts
  backend/src/modules/activity-log/interfaces/activity-log-download.interface.ts
  backend/src/modules/activity-log/models/activity-log.model.ts
  backend/src/modules/activity-log/repositories/activity-log.repository.ts
  backend/src/usecases/activity-log/get-many-for-download-activity-log.usecase.ts
  backend/src/usecases/use-case.module.ts
  frontend/src/assets/locales/ro/translation.json
  frontend/src/components/ActivityLogTable.tsx
  frontend/src/pages/ActivityLogs.tsx
  frontend/src/services/activity-log/activity-log.api.ts
Labels: back-end, enhancement :rocket:, front-end

#123 Bugfix[TEO-581] - Users are still able to log activity using archived tasks
  frontend/src/containers/TaskSelect.tsx
  frontend/src/services/activity-type/activity-type.api.ts
Labels: bug :bug:, front-end

#128 Feat[TEO-605] - Map activityLog total hours and volunteer count on event table
  backend/package-lock.json
  frontend/src/common/interfaces/event.interface.ts
  frontend/src/components/ActivityLogTable.tsx
  frontend/src/pages/Events.tsx
  frontend/src/services/activity-log/activity-log.api.ts
  frontend/src/services/activity-log/activity-log.service.ts
Labels: enhancement :rocket:, front-end

#129 Bugfix[TEO-519] - No error message is displayed for invalid data regarding number of hours
  frontend/src/assets/locales/ro/translation.json
  frontend/src/pages/AddActivityLog.tsx
Labels: bug :bug:, front-end

#127 Bugfix[TEO-531] - Improper display of table elements for smaller window sizes
  frontend/src/components/ActivityLogTable.tsx
  frontend/src/components/StatusWithMarker.tsx
  frontend/src/pages/ActivityLogs.tsx
  frontend/src/pages/Volunteers.tsx
Labels: bug :bug:, front-end

#125 Bugfix[TEO-580] - Excessive amount of space for volunteer rsvp regarding mention column
  frontend/src/pages/Event.tsx
Labels: bug :bug:, front-end

#122 Feat[TEO-567] - Actions Arhive List + filtering
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/constants/routes.ts
  frontend/src/common/enums/actions.enum.ts
  frontend/src/common/errors/entities/actions.errors.ts
  frontend/src/common/errors/internal-errors.class.ts
  frontend/src/common/interfaces/action.interface.ts
  frontend/src/common/utils/actions-archive.mappings.tsx
  frontend/src/components/LinkText.tsx
  frontend/src/pages/ActionsArchive.tsx
  frontend/src/routes/Router.tsx
  frontend/src/services/actions/actions.api.ts
  frontend/src/services/actions/actions.service.ts
Labels: enhancement :rocket:, front-end

#102 Feature[TEO-344] Query Params
  backend/package.json
  backend/src/api/activity-type/dto/get-activity-types.dto.ts
  backend/src/api/announcement/dto/get-many-announcement.dto.ts
  backend/src/api/location/dto/get-city.dto.ts
  backend/src/api/location/location.controller.ts
  backend/src/api/volunteer/dto/get-volunteers.dto.ts
  backend/src/common/constants/version.ts
  backend/src/modules/activity-type/models/activity-type.model.ts
  backend/src/modules/activity-type/repositories/activity-type.repository.ts
  backend/src/modules/announcement/models/announcement.model.ts
  backend/src/modules/announcement/repositories/announcement.repository.ts
  backend/src/modules/location/interfaces/location-repository.interface.ts
  backend/src/modules/location/model/city.model.ts
  backend/src/modules/location/repositories/location.repository.ts
  backend/src/modules/location/services/location.facade.ts
  backend/src/modules/organization/repositories/organization-structure.repository.ts
  backend/src/modules/volunteer/model/volunteer.model.ts
  backend/src/modules/volunteer/repositories/volunteer.repository.ts
  backend/src/usecases/location/get-citties.usecase.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/constants/pagination.ts
  frontend/src/common/interfaces/hoc-query-props.interface.ts
  frontend/src/common/utils/utils.ts
  frontend/src/components/ActivityLogTable.tsx
  frontend/src/components/DataTableFilters.tsx
  frontend/src/components/DivisionTable.tsx
  frontend/src/components/LineChartCard.tsx
  frontend/src/components/PieChartCard.tsx
  frontend/src/containers/LocationSelect.tsx
  frontend/src/containers/OrganizationStructureSelect.tsx
  frontend/src/containers/SelectFilter.tsx
  frontend/src/containers/TargetsMultiSelectFilter.tsx
  frontend/src/containers/query/ActivityTypesWithQueryParams.tsx
  frontend/src/containers/query/AnnouncementsWithQueryParms.tsx
  frontend/src/containers/query/DivisionTableWithQueryParams.tsx
  frontend/src/containers/query/OrganizationWithQueryParam.tsx
  frontend/src/containers/query/VolunteersWithQueryParams.tsx
  frontend/src/pages/AccesCodes.tsx
  frontend/src/pages/AccessRequests.tsx
  frontend/src/pages/ActivityLogs.tsx
  frontend/src/pages/ActivityTypes.tsx
  frontend/src/pages/Announcements.tsx
  frontend/src/pages/Events.tsx
  frontend/src/pages/Organization.tsx
  frontend/src/pages/Volunteers.tsx
  frontend/src/routes/Router.tsx
  frontend/src/services/access-requests/access-requests.service.ts
  frontend/src/services/activity-type/activity-type.api.ts
  frontend/src/services/activity-type/activity-type.service.ts
  frontend/src/services/announcement/announcement.api.ts
  frontend/src/services/announcement/announcement.service.ts
  frontend/src/services/division/division.service.ts
  frontend/src/services/event/event.api.ts
  frontend/src/services/event/event.service.ts
  frontend/src/services/location/location.api.ts
  frontend/src/services/organization/organization.service.ts
  frontend/src/services/volunteer/volunteer.api.ts
  frontend/src/services/volunteer/volunteer.service.ts
Labels: back-end, front-end

#133 Feat[TEO-617] - Add query filters and refactor Volunteer Activity Log and Activity Logs to use the same table component.
  backend/package.json
  backend/src/api/access-request/dto/get-access-requests.dto.ts
  backend/src/api/actions-archive/dto/get-actions-history.dto.ts
  backend/src/api/activity-log/dto/get-many-activity-logs.dto.ts
  backend/src/common/constants/version.ts
  backend/src/modules/access-request/model/access-request.model.ts
  backend/src/modules/access-request/repositories/access-request.repository.ts
  backend/src/modules/actions-archive/models/actions-archive.model.ts
  backend/src/modules/actions-archive/repositories/actions-archive.repository.ts
  backend/src/modules/activity-log/models/activity-log.model.ts
  backend/src/modules/activity-log/repositories/activity-log.repository.ts
  frontend/src/components/AccessRequestTable.tsx
  frontend/src/components/ActivityLogTable.tsx
  frontend/src/containers/query/AccessCodesWithQueryParams.tsx
  frontend/src/containers/query/AccessRequestTableWithQueryParams.tsx
  frontend/src/containers/query/AccessRequestsWithQueryParams.tsx
  frontend/src/containers/query/ActionsArchiveWithQueryParams.tsx
  frontend/src/containers/query/ActivityLogTableWithQueryParams.tsx
  frontend/src/containers/query/ActivityLogsWithQueryParams.tsx
  frontend/src/containers/query/EventsWithQueryParams.tsx
  frontend/src/containers/query/VolunteerWithQueryParams.tsx
  frontend/src/containers/query/VolunteersWithQueryParams.tsx
  frontend/src/pages/AccesCodes.tsx
  frontend/src/pages/AccessRequests.tsx
  frontend/src/pages/ActionsArchive.tsx
  frontend/src/pages/ActivityLogs.tsx
  frontend/src/pages/Events.tsx
  frontend/src/pages/Volunteer.tsx
  frontend/src/pages/Volunteers.tsx
  frontend/src/routes/Router.tsx
  frontend/src/services/access-requests/access-requests.api.ts
  frontend/src/services/access-requests/access-requests.service.ts
  frontend/src/services/actions/actions.api.ts
  frontend/src/services/actions/actions.service.ts
  frontend/src/services/activity-log/activity-log.api.ts
  frontend/src/services/activity-log/activity-log.service.ts
Labels: enhancement :rocket:, front-end

#105 Feat[TEO-386] - Redirect WebUser to volunteers list
  frontend/src/components/DivisionTable.tsx
  frontend/src/pages/Volunteers.tsx
Labels: enhancement :rocket:, front-end

#135 Bugfix: [TEO-520], [TEO-528], [TEO-569], [TEO-578], [TEO-609]
  frontend/src/assets/locales/ro/translation.json
  frontend/src/components/ActivityLogTable.tsx
  frontend/src/containers/query/ActivityLogTableWithQueryParams.tsx
  frontend/src/index.css
  frontend/src/pages/AccesCodes.tsx
  frontend/src/pages/AddActivityLog.tsx
  frontend/src/pages/AddAnnouncement.tsx
  frontend/src/pages/Announcement.tsx
  frontend/src/pages/Volunteer.tsx
Labels: bug :bug:, front-end

#138 Feat[TEO-587] - Chart API integration
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/constants/pie-chart-options.ts
  frontend/src/common/interfaces/activity-log-statistics.interface.ts
  frontend/src/common/interfaces/volunteer-statistics.interface.ts
  frontend/src/components/ActivityLogStatisticsCard.tsx
  frontend/src/components/LineChart.tsx
  frontend/src/components/VolunteerStatisticsCard.tsx
  frontend/src/services/activity-log/activity-log.api.ts
  frontend/src/services/volunteer/volunteer.api.ts
Labels: front-end
