Repository code4romania/vic, pull requests merged in 2023-02, with the labels that each got.

#8 feat(modal): import modal component
  frontend/src/components/Modal.tsx
Labels: enhancement :rocket:, front-end

#10 Feature[TEO-69] Tabs and Select components
  frontend/src/components/Select.tsx
  frontend/src/components/Tabs.tsx
Labels: enhancement :rocket:, front-end

#12 Feat[TEO-135] Textarea component
  frontend/src/components/Textarea.tsx
Labels: enhancement :rocket:, front-end

#13 Feature[TEO-50] Organization CRUD
  backend/package-lock.json
  backend/package.json
  backend/src/api/api.module.ts
  backend/src/api/organization/dto/update-organization-description.dto.ts
  backend/src/api/organization/organization.controller.ts
  backend/src/api/organization/presenters/organization-presenter.interface.ts
  backend/src/common/exceptions/exceptions.interface.ts
  backend/src/common/interfaces/business-exception.interface.ts
  backend/src/common/interfaces/use-case-service.interface.ts
  backend/src/infrastructure/exceptions/exceptions.service.ts
  backend/src/infrastructure/filters/exception.filter.ts
  backend/src/infrastructure/pipes/uuid.pipe.ts
  backend/src/modules/organization/exceptions/exceptions.ts
  backend/src/modules/organization/helpers/organization.helper.ts
  backend/src/modules/organization/interfaces/organization-repository.interface.ts
  backend/src/modules/organization/repositories/organization-repository.service.ts
  backend/src/modules/organization/services/organization-facade.service.ts
  backend/src/usecases/organization/get-organization-use-case.service.ts
  backend/src/usecases/organization/update-organization-description-use-case.service.ts
  backend/src/usecases/use-case.module.ts
Labels: back-end

#11 Feat[TEO-134] FormInput component
  frontend/src/components/FormInput.tsx
  frontend/src/components/Input.tsx
Labels: enhancement :rocket:, front-end

#19 feat(profilecard): import ProfileCard from teo-components
  frontend/src/components/ProfileCard.tsx
Labels: enhancement :rocket:, front-end

#15 feat: [TEO-117] view BDR tables
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/constants/pagination.ts
  frontend/src/common/constants/routes.ts
  frontend/src/common/enums/order-direction.enum.ts
  frontend/src/common/interfaces/base-entity.interface.ts
  frontend/src/common/interfaces/paginated-entity.interface.ts
  frontend/src/common/interfaces/user.interface.ts
  frontend/src/common/utils/utils.ts
  frontend/src/components/CardBody.tsx
  frontend/src/components/CardHeader.tsx
  frontend/src/components/DataTableComponent.tsx
  frontend/src/components/Divisions.tsx
  frontend/src/components/EmptyContent.tsx
  frontend/src/components/LoadingContent.tsx
  frontend/src/components/Popover.tsx
  frontend/src/components/Spinner.tsx
  frontend/src/components/Tabs.tsx
  frontend/src/hooks/useToast.tsx
  frontend/src/index.css
  frontend/src/pages/Organization.tsx
  frontend/src/routes/Router.tsx
  frontend/src/services/division/division.api.ts
  frontend/src/services/division/division.service.ts
Labels: enhancement :rocket:, front-end

#16 feat: [TEO-143] add DivisionInputModal
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/constants/patterns.ts
  frontend/src/components/DivisionInputModal.tsx
  frontend/src/components/Divisions.tsx
  frontend/src/components/Input.tsx
  frontend/src/components/Modal.tsx
  frontend/src/components/Select.tsx
  frontend/src/components/Tabs.tsx
  frontend/src/index.css
  frontend/src/pages/Organization.tsx
Labels: enhancement :rocket:, front-end

#17 Feature[TEO-141] OrganizationProfile component
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/errors/base-error.class.ts
  frontend/src/common/errors/entities/division.errors.ts
  frontend/src/common/errors/entities/organization.errors.ts
  frontend/src/common/errors/internal-errors.class.ts
  frontend/src/common/interfaces/business-exception.interface.ts
  frontend/src/components/DataTableComponent.tsx
  frontend/src/components/Divisions.tsx
  frontend/src/components/EmptyContent.tsx
  frontend/src/components/FormReadOnlyElement.tsx
  frontend/src/components/OrganizationProfile.tsx
  frontend/src/pages/Organization.tsx
  frontend/src/routes/Router.tsx
  frontend/src/services/api.ts
  frontend/src/services/division/division.service.ts
  frontend/src/services/organization/organization.api.ts
  frontend/src/services/organization/organization.service.ts
Labels: enhancement :rocket:, front-end

#18 feat: [TEO-119] delete BDR, ConfirmationModal
  frontend/src/assets/locales/ro/translation.json
  frontend/src/components/ConfirmationModal.tsx
  frontend/src/components/DivisionInputModal.tsx
  frontend/src/components/Divisions.tsx
  frontend/src/services/division/division.api.ts
  frontend/src/services/division/division.service.ts
Labels: enhancement :rocket:, front-end

#25 Feature[TEO-116] EditOrganizationProfile
  backend/src/api/organization/dto/update-organization-description.dto.ts
  frontend/src/assets/locales/ro/translation.json
  frontend/src/components/OrganizationProfile.tsx
  frontend/src/pages/EditOrganization.tsx
  frontend/src/routes/Router.tsx
  frontend/src/services/organization/organization.api.ts
  frontend/src/services/organization/organization.service.ts
Labels: enhancement :rocket:, front-end

#27 feat: [TEO-118] add/edit BDR
  backend/src/modules/user/models/admin-user.model.ts
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/errors/entities/division.errors.ts
  frontend/src/components/DataTableComponent.tsx
  frontend/src/components/DivisionInputModal.tsx
  frontend/src/components/Divisions.tsx
  frontend/src/components/FormInput.tsx
  frontend/src/services/division/division.api.ts
  frontend/src/services/division/division.service.ts
Labels: enhancement :rocket:, front-end

#22 feat: [TEO-193] AccessRequest page, VolunteerRequest component
  frontend/src/App.tsx
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/constants/routes.ts
  frontend/src/common/enums/sex.enum.ts
  frontend/src/common/errors/entities/volunteer.errors.ts
  frontend/src/common/errors/internal-errors.class.ts
  frontend/src/common/interfaces/access-request.interface.ts
  frontend/src/components/PageHeader.tsx
  frontend/src/components/ProfileCard.tsx
  frontend/src/components/VolunteerRequest.tsx
  frontend/src/index.css
  frontend/src/pages/AccessRequest.tsx
  frontend/src/pages/EditOrganization.tsx
  frontend/src/pages/Organization.tsx
  frontend/src/routes/Router.tsx
  frontend/src/services/volunteer/volunteer.api.ts
  frontend/src/services/volunteer/volunteer.service.ts
  frontend/tailwind.config.cjs
  package-lock.json
Labels: enhancement :rocket:, front-end

#24 feat: [TEO-121] ViewAccessCodes
  backend/src/api/organization/access-code.controller.ts
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/constants/routes.ts
  frontend/src/pages/ViewAccesCodes.tsx
  frontend/src/routes/Router.tsx
  frontend/src/services/organization/organization.api.ts
  frontend/src/services/organization/organization.service.ts
Labels: enhancement :rocket:, front-end

#32 Feature[TEO-223] Volunteers
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/constants/routes.ts
  frontend/src/common/errors/entities/volunteer.errors.ts
  frontend/src/components/Divisions.tsx
  frontend/src/components/MediaCell.tsx
  frontend/src/index.css
  frontend/src/layouts/CellLayout.tsx
  frontend/src/pages/AccesCodes.tsx
  frontend/src/pages/AccessRequests.tsx
  frontend/src/pages/Volunteers.tsx
  frontend/src/routes/Router.tsx
  frontend/src/services/volunteer/volunteer.api.ts
  frontend/src/services/volunteer/volunteer.service.ts
Labels: enhancement :rocket:, front-end

#33 feat: [TEO-190] add organization structure guard
  backend/src/api/organization/guards/organization-structure.guard.ts
  backend/src/api/organization/organization-structure.controller.ts
  backend/src/modules/organization/interfaces/organization-structure-repository.interface.ts
  backend/src/modules/organization/repositories/organization-structure.repository.ts
  backend/src/modules/organization/services/organization-structure.facade.ts
  backend/src/usecases/organization/organization-structure/delete-organization-structure.usecase.ts
  backend/src/usecases/organization/organization-structure/get-one-organization-structure.usecase.ts
  backend/src/usecases/use-case.module.ts
Labels: back-end, enhancement :rocket:

#31 feat: [TEO-195] add/edit access code
  backend/src/usecases/access-code/delete-access-code.usecase.ts
  backend/src/usecases/access-code/get-access-code.usecase.ts
  backend/src/usecases/access-code/update-access-code.usecase.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/config/amplify.ts
  frontend/src/common/errors/entities/organization.errors.ts
  frontend/src/components/AccessCodeForm.tsx
  frontend/src/components/DatePickerInput.tsx
  frontend/src/components/DivisionInputModal.tsx
  frontend/src/components/Divisions.tsx
  frontend/src/components/FormDatePicker.tsx
  frontend/src/components/OrganizationProfile.tsx
  frontend/src/components/Paragraph.tsx
  frontend/src/index.css
  frontend/src/layouts/FormLayout.tsx
  frontend/src/pages/AccesCodes.tsx
  frontend/src/pages/AddAccessCode.tsx
  frontend/src/pages/EditAccessCode.tsx
  frontend/src/pages/EditOrganization.tsx
  frontend/src/routes/Router.tsx
  frontend/src/services/access-requests/access-requests.api.ts
  frontend/src/services/auth/auth.api.ts
  frontend/src/services/division/division.api.ts
  frontend/src/services/organization/organization.api.ts
  frontend/src/services/organization/organization.service.ts
Labels: enhancement :rocket:, front-end

#34 feat: [TEO-255] access code guard
  backend/src/api/organization/access-code.controller.ts
  backend/src/api/organization/guards/access-code.guard.ts
  backend/src/modules/organization/interfaces/access-code-repository.interface.ts
  backend/src/modules/organization/repositories/access-code.repository.ts
  backend/src/modules/organization/services/access-code.facade.ts
  backend/src/usecases/access-code/delete-access-code.usecase.ts
Labels: back-end, enhancement :rocket:

#40 Feature[TEO-280] Delete Access Code
  frontend/src/assets/locales/ro/translation.json
  frontend/src/pages/AccesCodes.tsx
  frontend/src/services/organization/organization.api.ts
  frontend/src/services/organization/organization.service.ts
Labels: enhancement :rocket:, front-end

#36 Feature[TEO-224] View Volunteer Profile
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/enums/volunteer-status.enum.ts
  frontend/src/common/interfaces/user.interface.ts
  frontend/src/common/interfaces/volunteer.interface.ts
  frontend/src/common/utils/utils.ts
  frontend/src/components/VolunteerProfile.tsx
  frontend/src/pages/AccessRequest.tsx
  frontend/src/pages/Volunteer.tsx
  frontend/src/pages/Volunteers.tsx
  frontend/src/routes/Router.tsx
  frontend/src/services/volunteer/volunteer.api.ts
  frontend/src/services/volunteer/volunteer.service.ts
Labels: enhancement :rocket:, front-end

#43 Feature[TEO-282] List of Activity Categories
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/constants/routes.ts
  frontend/src/common/enums/activity-type-status.enum.ts
  frontend/src/common/errors/entities/activty-type.errors.ts
  frontend/src/common/errors/internal-errors.class.ts
  frontend/src/common/interfaces/activity-type.interface.ts
  frontend/src/common/interfaces/base-entity.interface.ts
  frontend/src/components/ActivityType.tsx
  frontend/src/pages/ActivityTypes.tsx
  frontend/src/routes/Router.tsx
  frontend/src/services/activity-type/activity-type.api.ts
  frontend/src/services/activity-type/activity-type.service.ts
Labels: enhancement :rocket:, front-end

#48 Feature[TEO-311] Activity Category - Edit
  frontend/src/assets/locales/ro/translation.json
  frontend/src/components/ActivityTypeForm.tsx
  frontend/src/components/Select.tsx
  frontend/src/components/Tabs.tsx
  frontend/src/containers/OrganizationStructureSelect.tsx
  frontend/src/pages/AddActivityType.tsx
  frontend/src/pages/EditActivity.tsx
  frontend/src/pages/EditActivityType.tsx
  frontend/src/routes/Router.tsx
  frontend/src/services/activity-type/activity-type.api.ts
  frontend/src/services/activity-type/activity-type.service.ts
Labels: enhancement :rocket:, front-end

#52 Feature[TEO-312] Activity Category - archive/reactivate
  frontend/src/assets/locales/ro/translation.json
  frontend/src/components/CardHeader.tsx
  frontend/src/index.css
  frontend/src/pages/EditActivityType.tsx
  frontend/src/services/activity-type/activity-type.api.ts
  frontend/src/services/activity-type/activity-type.service.ts
Labels: enhancement :rocket:, front-end

#39 Feature[TEO-225] Edit Volunteer Profile
  frontend/src/assets/locales/ro/translation.json
  frontend/src/components/CardHeader.tsx
  frontend/src/pages/AccesCodes.tsx
  frontend/src/pages/AddAccessCode.tsx
  frontend/src/pages/AddActivityType.tsx
  frontend/src/pages/EditAccessCode.tsx
  frontend/src/pages/EditActivityType.tsx
  frontend/src/pages/EditVolunteer.tsx
  frontend/src/routes/Router.tsx
  frontend/src/services/volunteer/volunteer.api.ts
  frontend/src/services/volunteer/volunteer.service.ts
Labels: enhancement :rocket:, front-end

#57 Fix[TEO-348] Incorrect colour for input fields with error states
  frontend/src/index.css
Labels: bug :bug:, front-end

#55 Fix[TEO-333] Improper display of registration request profile picture and task icon
  frontend/src/components/MediaCell.tsx
  frontend/src/components/ProfileCard.tsx
Labels: bug :bug:, front-end

#53 Feature[TEO-271] Side menu support for child routes
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/constants/routes.ts
  frontend/src/common/interfaces/route.interface.ts
  frontend/src/components/MenuItem.tsx
  frontend/src/components/MenuLink.tsx
  frontend/src/components/SideMenu.tsx
  frontend/src/components/SlidingMenu.tsx
Labels: enhancement :rocket:, front-end

#56 Feature[TEO-352] Activity types Filters
  backend/src/api/activity-type/activity-type.controller.ts
  backend/src/api/activity-type/dto/get-activity-types.dto.ts
  backend/src/modules/activity-type/models/activity-type.model.ts
  backend/src/modules/activity-type/repositories/activity-type.repository.ts
  backend/src/usecases/activity-type/get-all-activity-type.usecase.ts
Labels: back-end
