Repository code4romania/vic, pull requests merged in 2023-03, with the labels that each got.

#59 Feature[TEO-337] Volunteer List Filters
  backend/src/api/volunteer/presenters/volunteer.presenter.ts
  backend/src/modules/volunteer/repositories/volunteer.repository.ts
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/enums/age-range.enum.ts
  frontend/src/common/interfaces/volunteer.interface.ts
  frontend/src/components/DataTableFilters.tsx
  frontend/src/components/Select.tsx
  frontend/src/pages/Volunteers.tsx
  frontend/src/services/volunteer/volunteer.api.ts
  frontend/src/services/volunteer/volunteer.service.ts
Labels: enhancement :rocket:, front-end

#61 Feat[TEO-342] Volunteers Manage (Archive, Reactivate, Block)
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/interfaces/volunteer.interface.ts
  frontend/src/components/VolunteerProfile.tsx
  frontend/src/pages/EditVolunteer.tsx
  frontend/src/pages/Volunteer.tsx
  frontend/src/pages/Volunteers.tsx
  frontend/src/services/volunteer/volunteer.api.ts
  frontend/src/services/volunteer/volunteer.service.ts
Labels: enhancement :rocket:, front-end

#64 Feature[TEO-336] Volunteer API integration
  backend/src/common/constants/version.ts
  backend/src/modules/access-request/repositories/access-request.repository.ts
  backend/src/modules/volunteer/repositories/volunteer.repository.ts
  backend/src/usecases/volunteer/update-volunteer-profile.usecase.ts
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/errors/entities/volunteer.errors.ts
  frontend/src/common/interfaces/user.interface.ts
  frontend/src/common/utils/utils.ts
  frontend/src/components/FormReadOnlyElement.tsx
  frontend/src/components/ProfileCard.tsx
  frontend/src/components/VolunteerProfile.tsx
  frontend/src/pages/AccessRequest.tsx
  frontend/src/pages/AccessRequests.tsx
  frontend/src/pages/EditVolunteer.tsx
  frontend/src/pages/Volunteer.tsx
  frontend/src/pages/Volunteers.tsx
  frontend/src/services/volunteer/volunteer.api.ts
  frontend/src/services/volunteer/volunteer.service.ts
Labels: back-end, front-end

#63 Bugfix[TEO-360] Incorrect validation for access code name
  frontend/src/pages/AddAccessCode.tsx
Labels: bug :bug:, front-end

#62 Bugfix[TEO-357] Improper function of rejection reason pop-up buttons
  frontend/src/assets/locales/ro/translation.json
  frontend/src/components/RejectTextareaModal.tsx
Labels: bug :bug:, front-end

#65 Bugfix[TEO-375] Missing component from rejected request detail page
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/interfaces/access-request.interface.ts
  frontend/src/pages/AccessRequest.tsx
Labels: bug :bug:, front-end

#68 BugFix[TEO-333] Improper display of task type icon
  frontend/src/components/ActivityType.tsx
Labels: bug :bug:, front-end

#69 feat: [TEO-281] download access requests
  backend/package-lock.json
  backend/package.json
  backend/src/api/access-request/access-request.controller.ts
  backend/src/api/access-request/dto/get-access-requests.dto.ts
  backend/src/common/helpers/utils.ts
  backend/src/modules/access-request/interfaces/access-request-download.interface.ts
  backend/src/usecases/access-request/download-access-requests.usecase.ts
  backend/src/usecases/use-case.module.ts
  frontend/src/pages/AccessRequests.tsx
  frontend/src/services/access-requests/access-requests.api.ts
Labels: back-end, enhancement :rocket:

#72 Feature[TEO-372] Pagination using query builder + update entities using pagination
  backend/src/api/access-request/dto/get-access-requests.dto.ts
  backend/src/api/volunteer/dto/get-volunteers.dto.ts
  backend/src/common/interfaces/repository-with-pagination.interface.ts
  backend/src/infrastructure/base/base-pagination-filter.dto.ts
  backend/src/infrastructure/base/base-pagination-filter.model.ts
  backend/src/infrastructure/base/repository-with-pagination.class.ts
  backend/src/modules/access-request/model/access-request.model.ts
  backend/src/modules/access-request/repositories/access-request.repository.ts
  backend/src/modules/organization/entities/organization-structure.entity.ts
  backend/src/modules/organization/models/organization-structure.model.ts
  backend/src/modules/organization/repositories/access-code.repository.ts
  backend/src/modules/organization/repositories/organization-structure.repository.ts
  backend/src/modules/volunteer/model/volunteer.model.ts
  backend/src/modules/volunteer/repositories/volunteer.repository.ts
  frontend/src/assets/locales/ro/translation.json
  frontend/src/components/DivisionTable.tsx
  frontend/src/pages/AccessRequests.tsx
  frontend/src/pages/Volunteers.tsx
  frontend/src/services/access-requests/access-requests.api.ts
  frontend/src/services/access-requests/access-requests.service.ts
  frontend/src/services/division/division.service.ts
  frontend/src/services/volunteer/volunteer.api.ts
Labels: back-end, front-end

#47 feat: [TEO-272] announcement module
  backend/src/api/announcement/announcement.controller.ts
  backend/src/api/announcement/dto/create-announcement.dto.ts
  backend/src/api/announcement/dto/update-announcement.dto.ts
  backend/src/api/announcement/guards/announcement.guard.ts
  backend/src/api/announcement/presenters/announcement.presenter.ts
  backend/src/api/api.module.ts
  backend/src/api/organization/presenters/organization-structure-list-item.presenter.ts
  backend/src/main.ts
  backend/src/migrations/1677153298464-AnnouncementDDL.ts
  backend/src/modules/announcement/announcement.module.ts
  backend/src/modules/announcement/entities/announcement.entity.ts
  backend/src/modules/announcement/enums/announcement-status.enum.ts
  backend/src/modules/announcement/exceptions/announcement.exceptions.ts
  backend/src/modules/announcement/interfaces/announcement-repository.interface.ts
  backend/src/modules/announcement/models/announcement.model.ts
  backend/src/modules/announcement/repositories/announcement.repository.ts
  backend/src/modules/announcement/services/announcement.facade.ts
  backend/src/modules/notifications/events/others/send-announcement.event.ts
  backend/src/modules/notifications/listeners/others.listener.ts
  backend/src/modules/notifications/notifications.module.ts
  backend/src/modules/organization/interfaces/organization-structure-repository.interface.ts
  backend/src/modules/organization/models/organization-structure.model.ts
  backend/src/modules/organization/repositories/organization-structure.repository.ts
  backend/src/modules/organization/services/organization-structure.facade.ts
  backend/src/modules/organization/services/organization.facade.ts
  backend/src/modules/user/models/regular-user.model.ts
  backend/src/modules/volunteer/intefaces/volunteer-repository.interface.ts
  backend/src/modules/volunteer/model/volunteer.model.ts
  backend/src/modules/volunteer/repositories/volunteer.repository.ts
  backend/src/modules/volunteer/services/volunteer.facade.ts
  backend/src/usecases/announcement/create-announcement.usecase.ts
  backend/src/usecases/announcement/delete-announcement.usecase.ts
  backend/src/usecases/announcement/get-many-announcement.usecase.ts
  backend/src/usecases/announcement/get-one-announcement.usecase.ts
  backend/src/usecases/announcement/update-announcement.usecase.ts
  backend/src/usecases/use-case.module.ts
  backend/src/usecases/user/get-user-profile.usecase.ts
Labels: back-end, enhancement :rocket:

#71 feat: [TEO-376] download volunteers
  backend/src/api/access-request/access-request.controller.ts
  backend/src/api/access-request/dto/get-access-requests.dto.ts
  backend/src/api/volunteer/volunteer.controller.ts
  backend/src/modules/announcement/models/announcement.model.ts
  backend/src/modules/volunteer/intefaces/volunteer-download.interface.ts
  backend/src/usecases/access-request/get-many-for-download-access-requests.usecase.ts
  backend/src/usecases/use-case.module.ts
  backend/src/usecases/volunteer/get-many-for-download-volunteer.usecase.ts
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/utils/utils.ts
  frontend/src/pages/AccessRequests.tsx
  frontend/src/pages/Volunteers.tsx
  frontend/src/services/volunteer/volunteer.api.ts
Labels: back-end, enhancement :rocket:, front-end

#74 feat: [TEO-426] get many events with filters
  backend/src/api/event/dto/get-many-event.dto.ts
  backend/src/api/event/event.controller.ts
  backend/src/api/event/presenters/event-list-item.presenter.ts
  backend/src/api/event/presenters/event.presenter.ts
  backend/src/migrations/1677153298464-AnnouncementDDL.ts
  backend/src/modules/activity-type/repositories/activity-type.repository.ts
  backend/src/modules/event/entities/event.entity.ts
  backend/src/modules/event/enums/event-time.enum.ts
  backend/src/modules/event/interfaces/event-repository.interface.ts
  backend/src/modules/event/models/event.model.ts
  backend/src/modules/event/repositories/event.repository.ts
  backend/src/modules/event/services/event.facade.ts
  backend/src/usecases/event/get-many-event.usecase.ts
  backend/src/usecases/use-case.module.ts
Labels: back-end, enhancement :rocket:

#76 Feat[TEO-400] Publish /Archive / Delete Event
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/enums/event-state.enum.ts
  frontend/src/common/interfaces/event.interface.ts
  frontend/src/common/utils/utils.ts
  frontend/src/components/EventForm.tsx
  frontend/src/components/Targets.tsx
  frontend/src/pages/Announcements.tsx
  frontend/src/pages/EditEvent.tsx
  frontend/src/pages/Event.tsx
  frontend/src/pages/Events.tsx
  frontend/src/services/event/event.api.ts
  frontend/src/services/event/event.service.ts
Labels: enhancement :rocket:, front-end

#77 feat: [TEO-399] announcement filters
  backend/src/api/announcement/announcement.controller.ts
  backend/src/api/announcement/dto/get-many-announcement.dto.ts
  backend/src/modules/announcement/models/announcement.model.ts
  backend/src/modules/announcement/repositories/announcement.repository.ts
  frontend/src/pages/Announcements.tsx
  frontend/src/services/announcement/announcement.api.ts
  frontend/src/services/announcement/announcement.service.ts
Labels: back-end, enhancement :rocket:, front-end

#78 [TEO-431] Get all RSVP for event + filtering
  backend/src/api/event/dto/get-paginated-event-rsvp.dto.ts
  backend/src/api/event/event.controller.ts
  backend/src/api/event/presenters/event-rsvp.presenter.ts
  backend/src/modules/event/interfaces/event-rsvp-repository.interface.ts
  backend/src/modules/event/models/event-rsvp.model.ts
  backend/src/modules/event/repositories/event-rsvp.repository.ts
  backend/src/modules/event/services/event.facade.ts
  backend/src/modules/user/entities/user.entity.ts
  backend/src/usecases/event/RSVP/get-many-rsvp.usecase.ts
  backend/src/usecases/use-case.module.ts
Labels: back-end

#84 Bugfix[TEO-333] - [Activity Categories] Improper display of registration request profile picture and task icon
  frontend/src/components/MediaCell.tsx
Labels: enhancement :rocket:, front-end

#82 feat: [TEO-432] download events (past and current)
  backend/src/api/event/event.controller.ts
  backend/src/modules/event/interfaces/event-download.interface.ts
  backend/src/modules/event/models/event.model.ts
  backend/src/usecases/event/get-many-for-download-event.usecase.ts
  backend/src/usecases/use-case.module.ts
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/interfaces/event.interface.ts
  frontend/src/pages/Events.tsx
  frontend/src/services/event/event.api.ts
Labels: back-end, enhancement :rocket:, front-end

#79 Feat[TEO-43]/[TEO-44] - Pending/Past list
  backend/package-lock.json
  backend/src/modules/activity-log/repositories/activity-log.repository.ts
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/constants/routes.ts
  frontend/src/common/enums/activity-log-resolution-status.enum.ts
  frontend/src/common/enums/activity-log.status.enum.ts
  frontend/src/common/errors/entities/activity-log.errors.ts
  frontend/src/common/errors/internal-errors.class.ts
  frontend/src/common/interfaces/activity-log.interface.ts
  frontend/src/common/utils/utils.ts
  frontend/src/pages/ActivityLogs.tsx
  frontend/src/routes/Router.tsx
  frontend/src/services/acitivity-log/activity-log.api.ts
  frontend/src/services/acitivity-log/activity-log.service.ts
Labels: enhancement :rocket:, front-end

#91 Bugfix[TEO-461] [Announcement] Target column displays the incorrect departments
  frontend/src/services/announcement/announcement.api.ts
Labels: bug :bug:, front-end

#93 Bugfix[TEO-493] - [Events] Incorrect sub text for event status title
  frontend/src/assets/locales/ro/translation.json
Labels: bug :bug:, front-end

#94 Bugfix[TEO-492] -[Events] Unable to determine day/night time frame regarding event dates
  frontend/src/common/utils/utils.ts
Labels: bug :bug:, front-end

#95 Bugfix[TEO-460] - Missing status element from announcement detail page
  frontend/src/pages/Announcement.tsx
Labels: bug :bug:, front-end

#96 Bugfix[TEO-392] - Incorrect status color in Volunteer profile
  frontend/src/common/utils/utils.ts
  frontend/src/components/VolunteerProfile.tsx
Labels: bug :bug:, front-end

#97 Bugfix[TEO-385] - Incorrect name for edit BDR modal
  frontend/src/assets/locales/ro/translation.json
  frontend/src/components/DivisionInputModal.tsx
  frontend/src/components/DivisionTable.tsx
Labels: bug :bug:, front-end

#100 Bugfix[TEO-394] - Missing error message for "Voluntar din" input
  frontend/src/pages/EditVolunteer.tsx
Labels: bug :bug:, front-end

#101 Bugfix[TEO-391] - [Activity Categories] Incorrect display of fields when resizing the page
  frontend/src/components/Select.tsx
Labels: bug :bug:, front-end

#89 Bugfix[TEO-459] Targets, MembersCount, Active Categories in event selection
  backend/src/api/activity-type/dto/get-activity-types.dto.ts
  backend/src/modules/activity-type/repositories/activity-type.repository.ts
  backend/src/modules/organization/repositories/organization-structure.repository.ts
  frontend/src/components/Targets.tsx
  frontend/src/containers/ActivityTypesSelect.tsx
  frontend/src/pages/Event.tsx
  frontend/src/pages/Events.tsx
  frontend/src/services/activity-type/activity-type.api.ts
  frontend/src/services/activity-type/activity-type.service.ts
Labels: back-end, bug :bug:, front-end

#90 Feature[TEO-504] Add Organization relation to activity log
  backend/src/migrations/1679403188166-AddOrganizationRelationToActivityLog.ts
  backend/src/modules/activity-log/entities/activity-log.entity.ts
  backend/src/modules/activity-log/enums/activity-log-status.enum.ts
  backend/src/modules/activity-log/models/activity-log.model.ts
  backend/src/modules/activity-log/repositories/activity-log.repository.ts
  backend/src/usecases/activity-log/create-activity-log-by-admin.usecase.ts
Labels: back-end

#92 Feat[TEO-299] Activity Log - Filters
  frontend/src/assets/locales/ro/translation.json
  frontend/src/pages/ActivityLogs.tsx
  frontend/src/services/activity-log/activity-log.api.ts
  frontend/src/services/activity-log/activity-log.service.ts
Labels: enhancement :rocket:, front-end

#106 Bugfix[TEO-369] - Missing "No options" message from empty dropdown menus
  frontend/src/components/Select.tsx
Labels: enhancement :rocket:, front-end

#98 Bugfix: TEO-463, TEO-462, TEO-486
  backend/src/infrastructure/base/repository-with-pagination.class.ts
  backend/src/modules/event/exceptions/event-rsvp.exceptions.ts
  backend/src/modules/event/repositories/event.repository.ts
  backend/src/modules/organization/repositories/organization-structure.repository.ts
  backend/src/usecases/event/RSVP/create-rsvp.usecase.ts
  backend/src/usecases/volunteer/get-many-for-download-volunteer.usecase.ts
  frontend/src/common/utils/utils.ts
  frontend/src/pages/AccessRequests.tsx
  frontend/src/pages/Events.tsx
  frontend/src/services/access-requests/access-requests.api.ts
  frontend/src/services/volunteer/volunteer.api.ts
Labels: back-end, bug :bug:, front-end

#110 Resource Listings
  backend/src/api/api.module.ts
  backend/src/api/event/event.controller.ts
  backend/src/api/listing/listing.controller.ts
  backend/src/api/organization/organization-structure.controller.ts
  backend/src/modules/user/interfaces/admin-user-repository.interface.ts
  backend/src/modules/user/models/admin-user.model.ts
  backend/src/modules/user/repositories/admin-user.repository.ts
  backend/src/modules/user/services/user-facade.service.ts
  backend/src/usecases/use-case.module.ts
  backend/src/usecases/user/get-many-admin-users.usecase.ts
Labels: back-end

#113 Feat[TEO-565] - Map Listing API's to correct select containers
  backend/src/api/listing/listing.controller.ts
  backend/src/api/organization/organization-structure.controller.ts
  frontend/src/common/utils/utils.ts
  frontend/src/components/ServerSelect.tsx
  frontend/src/containers/ActivityTypesSelect.tsx
  frontend/src/containers/EventSelect.tsx
  frontend/src/containers/OrganizationStructureSelect.tsx
  frontend/src/containers/TargetsMultiSelect.tsx
  frontend/src/containers/VolunteerSelect.tsx
  frontend/src/services/activity-type/activity-type.api.ts
  frontend/src/services/activity-type/activity-type.service.ts
  frontend/src/services/division/division.api.ts
  frontend/src/services/event/event.api.ts
  frontend/src/services/volunteer/volunteer.api.ts
Labels: enhancement :rocket:, front-end

#118 feat: [TEO-329] remove UserPresenter in exchange for IdAndNamePresenter
  backend/src/api/_mobile/user/presenters/user-basic.presenter.ts
  backend/src/api/access-request/presenters/access-request.presenter.ts
  backend/src/api/organization/presenters/access-code.presenter.ts
  backend/src/api/volunteer/presenters/volunteer.presenter.ts
Labels: back-end, enhancement :rocket:

#109 Feat[TEO-517] - Volunteer hours and active volunteers cards
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/interfaces/activity-log-statistics.interface.ts
  frontend/src/common/interfaces/volunteer-statistics.interface.ts
  frontend/src/components/ActivityLogStatisticsCard.tsx
  frontend/src/components/StatisticsCard.tsx
  frontend/src/components/VolunteerStatisticsCard.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/services/activity-log/activity-log.api.ts
  frontend/src/services/activity-log/activity-log.service.ts
  frontend/src/services/volunteer/volunteer.api.ts
  frontend/src/services/volunteer/volunteer.service.ts
Labels: enhancement :rocket:, front-end

#112 Feat[TEO-518] - Volunteer Pie chart and graph
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/constants/line-chart-options.ts
  frontend/src/common/constants/pie-chart-options.ts
  frontend/src/components/LineChart.tsx
  frontend/src/components/LineChartCard.tsx
  frontend/src/components/PieChart.tsx
  frontend/src/components/PieChartCard.tsx
  frontend/src/index.css
  frontend/src/layouts/CardLayout.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/services/volunteer/volunteer.api.ts
  frontend/src/services/volunteer/volunteer.service.ts
Labels: enhancement :rocket:, front-end

#117 feat: [TEO-584] add filter by volunteerId for activity log counters
  backend/src/api/activity-log/activity-log.controller.ts
  backend/src/api/activity-log/dto/get-many-activity-log-counters.dto.ts
  backend/src/modules/activity-log/interfaces/activity-log-repository.interface.ts
  backend/src/modules/activity-log/models/activity-log.model.ts
  backend/src/modules/activity-log/repositories/activity-log.repository.ts
  backend/src/modules/activity-log/services/activity-log.facade.ts
  backend/src/usecases/activity-log/get-activity-log-counters.usecase.ts
Labels: back-end, enhancement :rocket:

#115 [TEO-505]: Other on task selection for log hours
  backend/src/api/activity-log/dto/create-activity-log-by-admin.dto.ts
  backend/src/migrations/1680186021700-ActivityLogActivityTypeOptional.ts
  backend/src/modules/activity-log/entities/activity-log.entity.ts
  backend/src/modules/activity-log/models/activity-log.model.ts
  backend/src/usecases/activity-log/create-activity-log-by-admin.usecase.ts
  frontend/src/assets/locales/ro/translation.json
  frontend/src/common/constants/constants.ts
  frontend/src/common/interfaces/activity-log.interface.ts
  frontend/src/components/ActivityLogSidePanel.tsx
  frontend/src/components/EditActivityLog.tsx
  frontend/src/containers/TaskSelect.tsx
  frontend/src/pages/ActivityLogs.tsx
  frontend/src/services/activity-log/activity-log.api.ts
Labels: back-end, front-end
